.loadingSpinner {
    position: relative;
}
.loadingSpinner.docLoadingSpinner {
    background-color: #e3cdab;
}
#mainBox {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    flex-direction: column;
}
#mainRow {
    display: flex;
    min-height: 50%;
    height: 100%;
}
body {
    overflow: hidden;
}
#DcSelection {
    background: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}
#DcSelection > span {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 0 0 0.5rem white, 0 0 1rem white, 0 0 1rem white, 0 0 1rem white, 0 0 2rem white, 0 0 2rem white;
}
.importDialog > div {
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 0 0 0.5rem white, 0 0 1rem white, 0 0 1rem white, 0 0 1rem white, 0 0 2rem white, 0 0 2rem white;
    text-align:center;
    background-color:rgba(255,255,255,0.5);
}
.documentRootOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e3cdab;
    overflow: hidden;
}
.importDialog {
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 15px cornflowerblue;
    transition: 0.5s all;
    z-index: 4;
    font-size: 1.2rem;
}
.importDialog > button, .importDialog > div {
    height: 100%;
}
.importDialog > div {
    padding: 0.5rem;
    font-size: 2rem;
}
.exportNotification {
    width: 60vw;
    height: 60vh;
    background-color: rgba(255,255,255,0.95);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 15px cornflowerblue;
    transition: 0.5s all;
    z-index: 4;
    padding: 1rem;
    padding-top: 1.5rem;
    font-size: 1.2rem;
}
.exportNotification::before {
    content: '⤓';
    float: left;
    height: 100%;
    padding: 1rem;
    padding-top: 0rem;
    font-size: 4rem;
    color: cornflowerblue;
    text-shadow: 0 0 2px cornflowerblue;
}
#editorColumn {
    display: flex;
    flex-direction: column;
    min-width: 0; /* needed to clip text with white-space: nowrap in #currentDcLabel */
}
#editorButtons, .formatOptions {
    display: flex;
    flex-direction: row;
}
.impExpButtonColumn {
    flex-direction: column;
    width: 100%;
}
.impExpButtonColumn > button {
    width: 100%;
}
.formatOptions > div {
    padding: 0.2rem;
    vertical-align: center;
    background-color: rgba(255,255,255,0.9);
    white-space: pre;
}
#editorButtons > button, .formatOptions > select {
    width: 100%;
}
#editorButtons button {
    border-width: 0;
    font-weight: bold;
}
#DcSelection, #editorColumn, #eiteDocumentRoot, #inputarea {
    height: 100%;
    width: 100%;
}
#currentDcLabelGroup {
    border-left: 0.5rem solid rgba(255,255,255,0.9);
    min-height: 1.5rem;
    background-color: rgba(255,255,255,0.9);
    border-top: 0.1rem solid #EEE;
    border-bottom: 0.075rem solid rgba(255,255,255,0.8);
    background-clip: content-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
#currentDcLabel {
    width: 100%;
}
#filepicker {
    display: none;
}
#eiteDocumentRoot {
    border: 0.5rem solid rgba(255,255,255,0.9);
    background-color: white;
    background-clip: content-box;
    font-size: 3rem;
    transition: background-color 0.1s;
    position: relative;
    min-width: 0;
    overflow: scroll;
}
#inputarea {
    background-color: white;
    border: 0;
}
#mainBox::before {
    background: -moz-element(#background) no-repeat fixed;
    filter: url(#f1);
    content: ' ';
    width: calc(100% + 6rem);
    height: calc(100% + 6rem);
    position: absolute;
    top: -3rem;
    left: -3rem;
    clip-path: inset(3rem 3rem 3rem 3rem);
    z-index: -1;
}
#notificationOverlay {
    background: -moz-element(#mainBox) no-repeat fixed;
    filter: url(#f1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    content: ' ';
    width: calc(100vw + 6rem);
    height: calc(100vh + 6rem);
    position: absolute;
    top: -3rem;
    left: -3rem;
    clip-path: inset(3rem 3rem 3rem 3rem);
    z-index: 3;
    transition: 0.5s all;
    display: none;
}
#notificationOverlay::before {
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.2);
}
#background {
    background-image: url('DSCN0001.JPG');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
button {
    background-color: rgba(255,255,255,0.7);
    border-width: 0 0 0.1rem 0;
    border-color: white;
    border-style: solid;
    transition: 0.1s all;
    position: relative;
    font-size: 1.5rem;
    padding: 0.5rem;
}
#DcSelection > button {
    font-size: 1.2rem;
    padding: 0.1rem;
}
.importDialog > button:last-of-type {
    border-width: 0 0 0 0;
}
#editorButtons button:not(#ImportDocument)::before {
    content: ' ';
    display: block;
    height: 100%;
    float: left;
    position: absolute;
    width: 0.1rem;
    background-color: white;
    top: 0;
    left: 0;
}
button:hover {
    background-color: rgba(255,255,255,0.8);
}
button:active {
    background-color: rgba(200,200,200,0.7);
}
#svgFilter {
    height: 0;
}
#overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color:rgb(227,205,171);
    z-index: 100;
    transition: all 0.7s ease;
}
#overlay::after {
    content: ' ';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 101;
    opacity: 0.5;
    background-image: url('DSCN0001.JPG');
    background-size: cover;
}
