        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        nav, main {
            display: flex;
            align-items: center;
        }
        nav, #mainrow {
            width: 100vw;
        }
        nav, #playbackbuttons {
            height: 10vh;
            min-height: 1rem;
            max-height: 3rem;
        }
        body {
            flex-direction: column;
            display: flex;
            width: 100vw;
            height: 100vh;
            max-width: 100vw;
            max-height: 100vh;
            overflow: hidden;
        }
        #mainrow {
            flex-direction: row;
            display: flex;
            bottom: 0;
            height: 90vh;
            max-height: calc(100vh - 1rem);
            min-height: calc(100vh - 3rem); 
        }
        main {
            width: 60vw;
            min-width: 60vw;
            max-width: 60vw;
        }
        #startPage {
            flex-direction: column;
            max-height: 100%;
            overflow: scroll;
        }
        button {
            font-size: 100%;
            border-width: 0.1rem !important;
            border-style: ridge !important;
            border-color: black !important;
            /* flex-shrink: 0; */
            background-color: white;
            transition: 0.1s all;
            position: relative;
        }
        button:hover {
            border-style: groove !important;
        }
        button:active {
            border-style: dashed !important;
        }
        #calendar {
            font-size: 50%;
        }
        nav button:not(#calendar), nav #playbackbuttons {
            width: 10vh;
            min-width: 1rem;
            max-width: 3rem;
        }
        nav button, nav input {
            height: 100%;
        }
        #actions button {
            height: 15vh;
            min-height: 1.5rem;
            max-height: 4.5rem;
            width: 15vh;
            min-width: 1.5rem;
            max-width: 4.5rem;
        }
        #edit, #expand, #weather, #calendar, #play, #overview {
            align-self: end;
        }
        #tabbar {
            width: 3rem;
            flex-grow: 1;
        }
        #playbackbuttons {
            flex-direction: column;
            flex-grow: 0;
            overflow: hidden;
        }
        #playbackbuttons > button, #playprevnext {
            height: 50%;
        }
        #playprevnext {
            flex-direction: row;
            display: flex;
        }
        #edit, #expand, #weather, #calendar, #play, #overview {
            align-self: end;
        }
        #tabbar-button, #searchbutton, #projectsbutton, #schedulebutton, #updatesbutton {
            display: none;
        }
        #leftPanel, #rightPanel {
            width: 20vw;
            min-width: 20vw;
            max-width: 20vw;
        }
        #leftPanel, #rightPanel, #documentPanel, nav {
            border: 0.1rem groove;
        }
        .eiteEditToolFrame {
            width: 100%;
            height: 100%;
            border: none;
        }
        /* Startpage styles */
            .to-do-priority, .notification-time, .notification-priority, .folder-chevron {
                float: right;
            }
            li, h2 {
                padding: 0.5rem;
            }
            h2 {
                text-align: center;
            }
            #to-do {
                display: flex;
            }
            #to-do > ul {
                flex-grow: 1;
                padding: 0 0 0 0.5rem;
            }
            ul {
                list-style: none;
            }
            #schedule-calendar {
                width: 100%;
            }
            #schedule-calendar td {
                vertical-align: text-top;
            }
            #schedule-calendar td:last-of-type {
                padding: 0 0 0 0.5rem;
            }
            #schedule-calendar table {
                width: 100%;
            }
            #greeting {
                padding: 1rem;
                font-size: 2rem;
                font-weight: bold;
                text-shadow: 0 0 0.5rem white, 0 0 1rem white, 0 0 1rem white, 0 0 1rem white, 0 0 2rem white, 0 0 2rem white;
                justify-content: space-between;
            }
            #greeting .right-align {
                float: right;
            }
            #greeting p:not(.right-align) {
                width: 100%;
            }
            #startPage > section {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            #actions > button::after {
                content: 'â­';
                float: right;
                padding-right: 1rem;
            }
            #search-input {
                width: 0;
                flex-grow: 1
            }
            #startPage > section:not(:last-of-type):not(:first-of-type) {
                padding: 0.25rem 20vw;
            }
            #startPage > section:first-of-type {
                padding-top: 0.5rem;
            }
            #startPage > section:last-of-type {
                padding-bottom: 0rem;
            }
            #greeting, #actions, #search {
                flex-shrink: 1;
            }
            #greeting .right-align {
                float: right;
            }
            #tools {
                flex-shrink: 1;
                overflow: hidden;
            }
            #tools > section {
                overflow-y: scroll;
                margin: 1rem 0.5rem;
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                height: 100%;
                /*background-color: rgba(255,255,255,0.9);*/
            }
            #tools > section:first-of-type {
                margin-left: 1rem;
            }
            #tools > section:last-of-type {
                margin-right: 1rem;
            }
            #tools > section > button {
                max-height: 2rem;
                min-height: 2rem;
            }
            #tools > section > *:not(h2) {
                flex-grow: 1;
                overflow-y: scroll;
            }
        @media only screen and (max-device-width: 640px) {
            #greeting > .right-align, #tabbar, #edit, #weather, #play, #overview, #search, #tools, #leftPanel, #rightPanel {
                display: none;
            }
            #tabbar-button, #searchbutton, #projectsbutton, #schedulebutton, #updatesbutton {
                display: block;
            }
            main {
                height: 90vh;
                max-height: calc(100vh - 1rem);
                width: 100vw;
                min-width: 100vw;
                max-width: 100vw;
            }
            nav {
                height: 10vh;
                min-height: 1rem;
            }
            #actions button {
                width: 100%;
                min-width: 1.5rem;
                height: 100%;
                min-height: unset;
                max-height: unset;
                max-width: unset;
            }
            main > section {
                justify-content: unset;
            }
            nav button:not(#calendar) {
                width: 10vh;
            }
            main, button {
                font-size: 2rem;
            }
            #calendar {
                min-width: 4rem;
                width: 100%;
                font-size: unset;
            }
            main > section:not(:last-of-type) {
                padding: 0 0;
            }
            main > section:first-of-type {
                padding-top: 0;
            }
            #actions {
                flex-direction: column;
                flex-grow: 1;
                position: relative;
            }
        }
